@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
*{
  margin: 0px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #15202b;
  border-bottom: black 2px solid;
  border-top: black 2px solid;
  z-index: 3;
  font-family: 'Muli', sans-serif;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInFromLeft;
}
.navbar li a {
  display: block;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.left:hover {
  transition-duration: 1s;
  background-color: #fc3d21;
}
.active{
    background-color: darkkhaki;
}
.logo{
    height: 47px;
    width: 47px;
    float: right;
}
.name{
    float: right;
    padding: 15px 22px;
}
.left{
    padding: 15px 22px;
    float: left;
    border-right: black 2px solid;

}
.parallax {
  /* The image used */
  background-image: url("bgg.jpg");

  /* Set a specific height */
  height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
ul {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.info-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 10%;
    align-items: center;
}
.info-box{
    margin: 20px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;    
    width: 40%;
    background: white;
    flex-direction: column;
  font-family: 'Muli', sans-serif;

}
.title{
    font-family: 'Quicksand', sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;    
    width: 50%;
    background-color: lightgreen;
    flex-direction: column;
    border-radius: 5px;
    font-size: 30px;
    transition-duration: 4s;

}
.title:hover{
    width: 99.8%;
    transition-duration: 5s;
}

.logo-two{
    width: 150px;
    height: 150px;
    animation-duration: 0.5s;
    animation-timing-function: ease-out; 
    animation-iteration-count: 1; 
    animation-name: pop; 
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.bg-color{
    background-color: #15202b;
}
@keyframes pop{
    0%{
        height: 0px;
        width: 0px;
    }
    100%{
        height: 150px;
        width: 150px
    }
}
.input{
   outline: none;
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 15px;    
    width: 100%;
    background: white;
    flex-direction: column;
}
.logintext{
  display:inline;
}